<!DOCTYPE html>
<html lang="en">

<head>
    <title>TensorChat</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
</head>

<body>
    <style>
        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            line-height: 1.5;
            overflow-x: hidden;
            background-color: black;
            color: white;
        }
    </style>
    <div>
        <h1>Room already exists,<br> Create a unique room.</h1>
        <a href="/" class="btn btn-outline-primary" style="top: 20px; right:20px">Home</a>
    </div>
</body>

</html>