*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: black
}
.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;

}
.v-container{
    max-width: 960px;
    padding-left: 1rem;
    margin: auto;
    text-align: center;

}
.fullscreen-video-wrap{
    position: fixed;
    bottom:0;
    right:0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
    
}

.header-content{
    z-index: 2;
}
#host_stream{
    z-index: 2;
    border: 1px solid gray;
    bottom: 20px;
    left: 20px;
    max-height: 17%;
    max-width: 17%;
    position: absolute;
}

#toolbar{
    z-index: 2;
    bottom: 20px;
    right: 20px;
    position: absolute;
}

#invite{
    z-index: 2;
    top: 20px;
    right: 20px;
    position: absolute;
}
.modal-body{
    color: black;
}
.modal-title{
    color:black;
}